* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Roboto;
    color: #1C1C1C;
    display: flex;
}

.btn {
    margin: auto;
}

.form {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    /* display: none; */
}

#form {
    margin: auto;
    background: #FFFFFF;
    max-width: 492px;
    margin: auto;
    padding: 50px 54px;
    display: flex;
    align-content: center;
    flex-direction: column;
    border-radius: 10px;
}

#form input:focus,
#form textarea:focus {
    border-color: #F9C73B;
}

.form__title {
    grid-column: 1/3;
    font-size: 35px;
    margin-bottom: 12px;
    color: #000000
}

.form__info {
    display: grid;
    grid-template-columns: 240px 240px;
    grid-gap: 12px;
    margin-bottom: 12px;
}

.form__group, .form__message {
    padding-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.form__label {
    position: absolute;
    top: 27px;
    left: 21px;
    transition: all .3s;
    color: #A5A5A5;
}

.form__message .form__label {
    top: 31px;
}

.form__status {
    margin-left: 20px;
    font-size: 12px;
    line-height: 14px;
    color: #F36363;
    height: 15px;
}

.form__input {
    padding: 0 20px;
    height: 50px;
    background: #FDFDFD;
    border: 1px solid #A5A5A5;
    border-radius: 5px;
    font-size: 16px;
    color: #1C1C1C;
    box-shadow: none;
    outline: none;
}

.form__input::placeholder,
.form__textarea::placeholder {
    color: transparent;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
    transform: translateY(-32px);
    font-size: 12px;
    line-height: 14px;
    height: 15px;
}

.form__textarea:focus + .form__label,
.form__textarea:not(:placeholder-shown) + .form__label {
    transform: translateY(-36px);
    font-size: 12px;
    line-height: 14px;
    height: 15px;
}

.form__group-textarea {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form__textarea {
    font-family: roboto;
    padding: 20px;
    height: 110px;
    background: #FDFDFD;
    border: 1px solid #A5A5A5;
    border-radius: 5px;
    resize: none;
}

.form__license {
    font-size: 13px;
    line-height: 15px;
    color: #1C1C1C;
    padding: 0 14px;
    margin: 16px 0 30px 0;
}

.form__license a {
    color: #1C1C1C;
}

.form__btn, .btn {
    padding: 16px 74px;
    border-radius: 5px;
    color: #151515;
    background: #F9C73B;
    align-self: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    border: 1px solid #F9C73B;
}

.form__btn:hover, .btn:hover {
    background: #FFFFFF;
}

@media screen and (max-device-width: 600px) {
    .form__info {
        grid-template-columns: 1fr;
    }
}